<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Logs\ShortPathService.Logger.log">

  <!-- Включение рендера asp.net -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Файлы-цели для записи -->
  <targets>
    <!-- Основной журнал -->
    <target xsi:type="File" name="all-events-file" fileName="Logs\${hostname}.ShortPathService.${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    <!-- Трассировка запросов -->
    <target xsi:type="File" name="request-trace-file" fileName="Logs\${hostname}.ShortPathService.Trace.${shortdate}.log"
            layout="${longdate}|${message}|${event-properties:item=activity}|${event-properties:item=id}|${event-properties:item=method}|${event-properties:item=url}" />    
  </targets>

  <!-- Правила -->
  <rules>
    <!-- Все события -->
    <logger name="*" minlevel="Info" writeTo="all-events-file" />
    <!-- Трассировка запросов -->
    <logger name="*" levels="Trace" writeTo="request-trace-file" />
    <!-- Пропуск некритических журналов Microsoft -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>
